:root {
--background-blue: #81B3D2;
--color-aimin-blue: #669EC0;
--color-push-blue: #5496BD;
--basic-white: #FFFFFF;
--button-background: #766357;
--special-background: #EEEEEE;
--form-background: #F2F2F2;
--color-filter: #CACACA;
--color-black: #000000;
--color-brown: #333333;
--color-light-brown: #604E43;
--color-dark-brown: #503E33;
--color-light-grey: #BDBBBC;
--color-grey-checkbox: #6A6A6A;
}
@font-face {
  font-family: "PT Sans";
  src:
  url("fonts/PTSans.woff2") format("wolff2")
  url("fonts/PTSans.woff") format("wolff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PT Sans";
  src:
  url("fonts/PTSans.woff2") format("wolff2")
  url("fonts/PTSans.woff") format("wolff");
  font-style: normal;
  font-weight: 700;
}
.page{
  height: 100%;
  background-color: var(--special-background);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.page-body {
width: 1200px;
min-width: 1200px;
background-color: var(--basic-white);
font-family: "PT Sans", Arial, sans-serif;
text-transform: uppercase;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
margin: 0 auto;
}
/* Меню */
.nav{
  display: grid;
  justify-content: stretch;
}
.logo{
position: absolute;
left: 0;
right: 0;
margin: auto;
width: 138px;
}
.site-navigation{
display: grid;
grid-template-columns: repeat( 4, 1fr);
padding-left: 0;
margin-top: 15px;
margin-bottom: 15px;
}
.navigation-list {
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--color-black);
}
.navigation-right{
  text-align: right;
}
.navigation-list:hover{
  color: var(--background-blue);
}
.navigation-list:active{
  color: var(--color-filter);
}
.active{
  color: var(--button-background);
}
/* блок sedona welcome */
.main-container{
  padding: 0;
}
.main-header-img{
  background-image: url("../img/background-index.jpg");
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: cover;
  text-align: center;
}
.main-header-block{
  padding-top: 38px;
  padding-bottom: 55px;
}
.main-inscription{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
}

.main-inscription-paragraph{
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
}
/* Причины */

.container-hotel {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(4, 256px);
  margin: 0;
  padding: 0;
}

.content-aside-house{
 grid-column: 1;
 grid-row: 2;
}
.content-aside-food{
 grid-column: 2;
 grid-row: 2;
}
.content-aside-souvenir{
  grid-column: 3;
  grid-row: 2;
}
.content-block-hotel {
  background-color: var(--background-blue);
}

.content-img-bridge{
  grid-column: 1 / 3;
  grid-row: 3;
}
.content-block-bridge{
  grid-column: 3;
  grid-row: 3;
  background-color: var(--background-blue);
}

.content-space{
background-color: var(--special-background);
grid-column: 1;
grid-row: 4;
}
.content-road{
  background-color: var(--special-background);
  grid-column: 2;
  grid-row: 4;
}
.content-tourist{
  background-color: var(--special-background);
  grid-column: 3;
  grid-row: 4;
}
.heading-index{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
}

.content-p-index{
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
}
.form-header{
  font-family: PT Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.form-p{
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
/* блок поиска гостиницы */
.form-search{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.button-search{
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  background-color: var(--button-background);
  color: var(--basic-white);
  width: 568px;
  height: 86px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  justify-self: center;
}
.button-search:hover{
  background-color: var(--color-light-brown);
}
.button-search:active{
  background-color: var(--color-dark-brown);
}
/* footer */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social{
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 190px;
  padding-right: 190px;
}
.footer-contacts{
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 136px;
  margin-bottom: 9px;

}
.footer-contacts p{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
color: var(--color-black);
display: flex;
flex-grow: 1;
margin-left: 10px;
margin-bottom: 0;
align-items: flex-end;

}
.footer-contacts a{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
color: var(--color-black);
}

.button-social{
  width: 46px;
  height: 48px;
  background-color: var(--background-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.button-social:hover{
  background-color: var(--color-aimin-blue);
}
.footer-logo{
  display: flex;
  width: 215px;
  padding-right: 131px;
  padding-top: 30px;
}
.logo-htmlacademy{
  margin-left: 15px;
}
.logo-htmlacademy:hover svg path{
  fill: var(--background-blue);
}
.logo-htmlacademy:active svg path{
  fill: var(--color-light-grey);
}
/*catalog*/
.filters{
  background-image: url("../img/catalog/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 26px;
  padding-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-self: stretch;
}
.filters li{
  margin-bottom: 25px;
}
li .filter-checkbox{
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
}
.header-filter{
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.section-nav {
  display: flex;
  justify-content: space-between;
  padding-right: 73px;
  align-items: center;
}
.filter-nav{
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.block-sort{
  display: flex;
}
.filter-nav-list{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
}
.filter-item-sort {
font-family: PT Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
}
.filter-item {
border-bottom: 1px dashed var(--color-filter);
font-family: PT Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
color: var(--color-filter);
}
.filter-item:hover{
color: var(--background-blue);
border-bottom: 1px dashed var(--background-blue);
}
.filter-item:active{
  color: var(--color-black);
  border: none;
}
.filter-item:visited{
  color: var(--background-blue);
  border: none;
}
.filter-active{
  font-family: PT Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--background-blue);
}
.arrow-sort:hover svg path{
  fill: var(--color-black);
}
.arrow-sort:active svg path{
  fill: var(--background-blue);
}
.button-filter{
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
width: 137px;
height: 36px;
background-image: none;
background-color: transparent;
border: 2px solid var(--basic-white);
color: var(--basic-white);
}
.button-filter:hover{
  background-color: var(--basic-white);
  color: var(--color-black);
}
/*Список отелей*/
.title{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
color: var(--color-black);
}
.title:hover{
  color: var(--background-blue);
}
.title:active{
  color: var(--color-black);
  opacity: 0.3;
}
.name-hotel{
  grid-column: 2 / 4;
  grid-row: 1;
  margin: 0;
  margin-top: 30px;
}
.resuit-hotels{
  outline: 2px solid yellow;
  display: grid;
  max-width: 1200px;
  grid-template-columns: 208px 118px 664px 1fr;
  grid-template-rows: repeat(3, auto);
  /*padding-top: 30px;
  padding-bottom: 30px;*/
}

.img-result{
  display: grid;
  grid-column: 1 / 1;
  grid-row: 1 / 4;
  margin-left: 50px;
  margin-top: 30px;
}
.result{
  color: var(--color-brown);
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  grid-column: 2;
  margin: 0;
}
.result-cost{
  color: var(--color-brown);
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  grid-column: 3;
  margin: 0;
}
/*кнопка "подробнее*/

.btn-info{
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
background-color: var(--background-blue);
color: var(--basic-white);
border: none;
text-transform: uppercase;
width: 110px;
height: 27px;
grid-column: 2 / 3;
grid-row: 3;
margin-bottom: 30px;
margin-top: 16px;
}
.btn-info:hover{
  background-color: var(--color-aimin-blue);
}
.btn-info:active{
  background-color: var(--color-push-blue);
}
.btn-reservation{
  border: none;
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
background-color: var(--button-background);
color: var(--basic-white);
text-transform: uppercase;
width: 142px;
height: 27px;
grid-column: 3 / 3;
grid-row: 3 / 3;
margin-top: 16px;
}
.btn-reservation:hover{
  background-color: var(--color-light-brown);
}
.btn-reservation:active{
  background-color: var(--color-dark-brown);
}
.rating{
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
background-color: var(--form-background);
width: 110px;
height: 27px;
grid-column: 6 / 6;
grid-row: 3 / 4;
margin-right: 76px;
margin-bottom: 30px;
margin-top: 16px;
}
