:root {
--background-blue: #81B3D2;
--color-aimin-blue: #669EC0;
--color-push-blue: #5496BD;
--basic-white: #FFFFFF;
--button-background: #766357;
--special-background: #EEEEEE;
--form-background: #F2F2F2;
--color-filter: #CACACA;
--color-black: #000000;
--color-brown: #333333;
--color-light-brown: #604E43;
--color-dark-brown: #503E33;
--color-light-grey: #BDBBBC;
--color-grey-checkbox: #6A6A6A;
}
@font-face {
  font-family: "PT Sans";
  src:
  url("fonts/PTSans.woff2") format("wolff2")
  url("fonts/PTSans.woff") format("wolff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PT Sans";
  src:
  url("fonts/PTSans.woff2") format("wolff2")
  url("fonts/PTSans.woff") format("wolff");
  font-style: normal;
  font-weight: 700;
}
.page{
  height: 100%;
  background-color: var(--special-background);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-body {
width: 1200px;
min-width: 1200px;
background-color: var(--basic-white);
font-family: "PT Sans", Arial, sans-serif;
text-transform: uppercase;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content: start;
margin: 0 auto;
box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}
/* Меню */
.header{
  width: 1200px;
  position: relative;
}
.nav{
  display: grid;
  justify-content: stretch;
}
.logo{
position: absolute;
left: 0;
right: 0;
margin: auto;
width: 138px;
}
.site-navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*display: grid;
  grid-template-columns: repeat( 4, 1fr);*/
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 72px;
  margin-right: 72px;

}
.navigation-list {
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--color-black);
}
.list-foto{
  margin-right: 10px;
}
.list-map{
  margin-left: 263px;
}
.navigation-list:hover{
  color: var(--background-blue);
}
.navigation-list:active{
  color: var(--color-filter);
}
.active{
  color: var(--button-background);
}
/* блок sedona welcome */
.main-container{
  padding: 0;
}
.main-header-img{
  width: 1200px;
  background-image: url("../img/background-index.jpg");
  padding-top: 77px;
  padding-bottom: 77px;
  background-size: cover;
  text-align: center;
}
.main-header-img::after{
  content: "";
  background-image: url("../img/mask.svg");
  position: absolute;
  width: 1200px;
  height: 57px;
  left: 75px;
  right: 75px;
  top: 509px;

}
.main-header-block{
  padding-top: 28px;
  padding-bottom: 63px;
}
.main-inscription{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
padding-bottom: 17px;
}

.main-inscription-paragraph{
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
margin-bottom: 0;
margin-top: 0;
}
/* Причины */

.container-hotel {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 256px 330px 256px 256px;
  margin: 0;
  padding: 0;
}
.container-hotel h3{
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}
.container-hotel p{
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 0;
}
.content-img{
  height: 256px;
}
.heading-index{
  margin-top: 160px;
}
.content-p-index{
  margin-bottom: 82px;
}
.content-aside-house{
 grid-column: 1;
 grid-row: 2;
}
.content-aside-house::before{
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon/house-icon.svg");
  background-repeat: no-repeat;
  margin-left: 162px;
  margin-top: 60px;
}
.content-aside-food{
 grid-column: 2;
 grid-row: 2;
}
.content-aside-food::before{
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  background-image: url("../img/icon/food-icon.svg");
  background-repeat: no-repeat;
  margin-left: 162px;
  margin-top: 60px;
}
.content-aside-souvenir{
  grid-column: 3;
  grid-row: 2;
}
.content-aside-souvenir::before{
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  background-image: url("../img/icon/souvenirs-icon.svg");
  background-repeat: no-repeat;
  margin-left: 162px;
  margin-top: 60px;
}
.content-block-hotel {
  background-color: var(--background-blue);
  padding-top: 26px;
  padding-bottom: 47px;
  color: var(--basic-white);
}

.content-img-bridge{
  grid-column: 1 / 3;
  grid-row: 3;
  height: 256px;
}
.content-block-bridge{
  grid-column: 3;
  grid-row: 3;
  background-color: var(--background-blue);
  padding-top: 29px;
  padding-bottom: 47px;
  color: var(--basic-white);
}

.content-space{
background-color: var(--special-background);
grid-column: 1;
grid-row: 4;
}
.content-heading{
  margin-top: 47px;
}
.content-p{
  margin-bottom: 54px;
}
.content-road{
  background-color: var(--special-background);
  grid-column: 2;
  grid-row: 4;
}
.content-tourist{
  background-color: var(--special-background);
  grid-column: 3;
  grid-row: 4;
}

.form-header{
  font-family: PT Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 43px;
}
.form-p{
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 38px;
}
/* блок поиска гостиницы */
.form-search{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.button-search{
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  background-color: var(--button-background);
  color: var(--basic-white);
  width: 568px;
  height: 86px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  justify-self: center;
}
.button-search:hover{
  background-color: var(--color-light-brown);
}
.button-search:active{
  background-color: var(--color-dark-brown);
  color: var(--basic-white);
  opacity: 0,3;
}
.modal{
  display: grid;
  grid-template-columns: 112px 155px 70px 121px;
  grid-template-rows: repeat(4, auto);
  position: absolute;
  width: 458px;
  padding: 55px 55px;
  background-color: var(--basic-white);
  margin-left: 316px;
}
.arrivel-date-header{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.arrivel-date{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 346px;
  height: 36px;
  background-color: var(--form-background);
  align-self: center;
}

.arrivel-date-input{
  width: 290px;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  background-image: none;
  background-color: transparent;
  border: none;
  margin-left: 13px;
  outline: none;
}
.date-of-departure{
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 346px;
  height: 36px;
  background-color: var(--form-background);
}
.date-of-departure-header{
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  align-self: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.date-of-departure-input{
   width: 290px;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  background-image: none;
  background-color: transparent;
  border: none;
  margin-left: 13px;
  outline: none;
}
.button-calendar{
  border: none;
  outline: none;
  background-color: var(--form-background);
}
.adults-header{
  grid-column: 1 / 1;
  grid-row: 3 / 3;
  align-self: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}
.adults{
  grid-column: 2 / 2;
  grid-row: 3;
  display: flex;
}
.adults-button-minus{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--form-background);
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.adults-button-minus:hover svg rect{
  stroke: var(--background-blue);
}
.adults-number-input{
  width: 34px;
  height: 36px;
  background-color: var(--form-background);
  border: none;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  outline: none;
}
.adults-button-plus{
  width: 38px;
  height: 38px;
  background-color: var(--form-background);
  border: none;
  text-decoration: none;
  padding: 0;
}
.adults-button-plus:hover svg path{
  stroke: var(--background-blue);
}
.children{
  margin: 0;
  padding: 0;
  grid-column: 4;
  grid-row: 3;
  display: flex;
  justify-content: flex-end;

}
.children-header{
  grid-column: 3 / 4;
  grid-row: 3 / 3;
  align-self: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}
.children-button-minus{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--form-background);
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.children-button-minus:hover svg rect{
  stroke: var(--background-blue);

}
.children-button-plus{
  width: 38px;
  height: 38px;
  background-color: var(--form-background);
  border: none;
  align-self: baseline;
  text-align: center;
  text-decoration: none;
  padding: 0;
}
.children-button-plus:hover svg path{
  stroke: var(--background-blue);
}
.children-number-input{
  width: 34px;
  height: 36px;
  background-color: var(--form-background);
  border: none;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  outline: none;
}
.button-modal{
  grid-row: 4;
  width: 458px;
  height: 58px;
  margin-top: 54px;
  background-color: var(--background-blue);
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  color: var(--basic-white);
}

/* footer */
.footer{
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--basic-white);
}
.footer-index{
  position: absolute;
  bottom: 0;
  background-color: var(--basic-white);
}
.footer-social{
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 35px 178px 30px 197px;
}
.footer-social a{
  margin-left: 6px;
}
.footer-contacts{
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 136px;
  margin-bottom: 28px;

}
.footer-contacts p{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
color: var(--color-black);
display: flex;
flex-grow: 1;
margin-left: 18px;
margin-bottom: 5px;
align-items: flex-end;
justify-content: center;

}
.footer-contacts a{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
color: var(--color-black);
}

.button-social{
  width: 46px;
  height: 48px;
  background-color: var(--background-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-social:hover{
  background-color: var(--color-aimin-blue);
}
.footer-logo{
  display: flex;
  padding-right: 126px;
  padding-top: 43px;
}
.footer-logo span{
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  width: 90px;
}
.logo-htmlacademy{
  margin-left: 15px;
}
.logo-htmlacademy:hover svg path{
  fill: var(--background-blue);
}
.logo-htmlacademy:active svg path{
  fill: var(--color-light-grey);
}
/*catalog*/
fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}
.filters{
  background-image: url("../img/catalog/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 26px;
  padding-bottom: 18px;
  display: flex;
  justify-content: flex-start;
  /*display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-self: stretch;*/
}

.filters li{
  margin-top: 25px;
}

.filters ul{
  margin: 0;
  padding: 0;
}

.wrepper-fieldset-housing{
margin-left: 92px;
}
.wrepper-fieldset-cost{
  margin-left: auto;
  margin-right: 64px;
}
.header-filter-infrastructure{
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  color: var(--basic-white);
  margin-left: 72px;
}
.header-filter-housing{
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  color: var(--basic-white);
  margin-left: 26px;
}
.filter-input-checkbox + label{
  margin-left: 111px;
}

.filter-input {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-white);
}
.label-housing{
  margin-left: 68px;
}
.filter-input-checkbox + label::before{
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: -40px;
}

.filter-input-checkbox:checked + label::before{
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  background-image: url("../img/icon/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: -40px;
}
.input-checkbox-housing + label::before{
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: -40px;
}
.input-checkbox-housing:checked + label::before{
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  background-image: url("../img/icon/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: -40px;
}
.header-filter-cost{
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-white);
  margin-left: 66px;
}
.form-cost input{
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  background-image: none;
  background-color: transparent;
  width: 145px;
  height: 35px;
  border: none;
  outline: 0;
  color: var(--basic-white);
}
.form-cost{
  border: 2px solid #FFFFFF;
  width: 317px;
  height: 36px;
  margin-left: 72px;
}
.right-form{
  border-left: 2px solid #FFFFFF;
}
.range{
 margin-left: 72px;
}
.scale{
width: 316px;
height: 2px;
margin-top: 20px;
background: var(--basic-white);
opacity: 0.3;
}
.range .bar{
  width: 250px;
  height: 2px;
  background: var(--basic-white);
}
.toggle{
  position: absolute;
  margin-top: -10px;
  width: 4px;
  height: 4px;
  background-color: #ABABAB;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.toggle-max{
  margin-left: 248px;
}
.toggle-max:hover{
  transform: scale(1.2);
}
.toggle-min:hover{
  transform: scale(1.2);
}
.button-filter{
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  width: 137px;
  height: 36px;
  margin-left: 154px;
  background-image: none;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
}
.section-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
}
.filter-nav{
  display: flex;
  width: 600px;
  padding: 0;
  margin-left: 78px;
  align-items: baseline;
  margin-top: 3px;
}
.block-sort{
  display: flex;
  padding-top: 24px;
  padding-right: 57px;
}
.filter-nav-list{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
margin-right: 52px;
margin-top: 26px;
}
.filter-item-sort {
font-family: PT Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
margin-right: 34px;
margin-top: 36px;
}
.filter-item {
border-bottom: 1px dashed var(--color-filter);
font-family: PT Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
color: var(--color-filter);
margin-right: 33px;
margin-top: 36px;
}
.filter-item:hover{
color: var(--background-blue);
border-bottom: 1px dashed var(--background-blue);
}
.filter-item:active{
  color: var(--color-black);
  border: none;
}
.filter-item:visited{
  color: var(--background-blue);
  border: none;
}
.filter-active{
  font-family: PT Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--background-blue);
  margin-right: 33px;
  margin-top: 36px;
}
.arrow-sort{
  margin-right: 12px;
}
.arrow-sort:hover svg path{
  fill: var(--color-black);
}
.arrow-sort:active svg path{
  fill: var(--background-blue);
}
.button-filter:hover{
  background-color: var(--basic-white);
  color: var(--color-black);
}
/*Список отелей*/
.title{
font-family: PT Sans;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
color: var(--color-black);
}
.title:hover{
  color: var(--background-blue);
}
.title:active{
  color: var(--color-black);
  opacity: 0.3;
}
.name-hotel{
  grid-column: 2 / 4;
  grid-row: 1;
  margin: 0;
  margin-top: 37px;
  margin-left: 17px;
}
.result-hotels{
  display: grid;
  max-width: 1200px;
  grid-template-columns: 222px 131px 637px 1fr;
  grid-template-rows: repeat(4, auto);
  border-bottom: 1px solid #E5E5E5;
}
.img-result{
  display: grid;
  grid-column: 1 / 1;
  grid-row: 1 / 4;
  padding-left: 74px;
  margin-top: 42px;
}
.result{
  color: var(--color-brown);
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  grid-column: 2;
  margin: 0;
  margin-top: 5px;
  margin-left: 16px;
}
.result-cost{
  color: var(--color-brown);
  font-family: PT Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  grid-column: 3;
  margin: 0;
  margin-top: 5px;
}
/*кнопка "подробнее*/

.btn-info{
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
background-color: var(--background-blue);
color: var(--basic-white);
border: none;
text-transform: uppercase;
width: 110px;
height: 27px;
grid-column: 2 / 3;
grid-row: 3;
margin-bottom: 30px;
margin-top: 16px;
margin-left: 16px;
}
.btn-info:hover{
  background-color: var(--color-aimin-blue);
}
.btn-info:active{
  background-color: var(--color-push-blue);
}
.btn-reservation{
  border: none;
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
background-color: var(--button-background);
color: var(--basic-white);
text-transform: uppercase;
width: 142px;
height: 27px;
grid-column: 3 / 3;
grid-row: 3 / 3;
margin-top: 16px;

}
.btn-reservation:hover{
  background-color: var(--color-light-brown);
}
.btn-reservation:active{
  background-color: var(--color-dark-brown);
}

.star-4{
  content: "";
  width: 85px;
  height: 17px;
  background-image:url("../img/icon/star-icon.svg");
  background-repeat: space;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  margin-top: 41px;
  margin-left: 52px;
}
.star-3{
  content: "";
  width: 69px;
  height: 17px;
  background-image:url("../img/icon/star-icon.svg");
  background-repeat: space;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  margin-top: 26px;
  margin-left: 72px;
}
.star-2{
  content: "";
  width: 46px;
  height: 17px;
  background-image:url("../img/icon/star-icon.svg");
  background-repeat: space;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  margin-top: 29px;
  margin-left: 97px;
}
.rating{
font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
background-color: var(--form-background);
width: 110px;
height: 27px;
grid-column: 4 / 5;
grid-row: 3 / 4;
margin-left: 30px;
margin-top: 19px;
}
.img-result-motel{
  margin-top: 28px;
}
.name-motel{
  margin-top: 25px;
}
